h1, h2, h3, h4, h5, h6 {
  color: #292929;
  font-weight: bold; }

p, small {
  text-align: justify; }

h1 {
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: #54B689; }
  h1 span {
    display: block;
    color: initial;
    font-size: 1.25rem;
    font-weight: 300; }

h3 {
  position: relative;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  color: #54B689; }
  h3:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #54B689;
    position: absolute;
    left: 0;
    top: 0; }

h4 {
  font-size: 1rem; }

a {
  color: #292929;
  -webkit-text-decoration-color: rgba(41, 41, 41, 0.3);
  text-decoration-color: rgba(41, 41, 41, 0.3); }
  a:hover {
    text-decoration: underline;
    color: #54B689;
    -webkit-text-decoration-color: rgba(84, 182, 137, 0.8);
    text-decoration-color: rgba(84, 182, 137, 0.8); }

/*********** Resume **********/
.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
  font-size: 0.75rem; }

img {
  max-width: 120px; }

p.intro {
  font-size: 0.875rem; }

.item-meta {
  font-size: 0.75rem; }

.item-content {
  font-size: 0.875rem; }

.list {
  font-size: 0.875rem; }

@media (max-width: 991.98px) {
  .resume-aside {
    border-left: 0; } }

@media (max-width: 767.98px) {
  .resume-contact {
    border-left: 0; } }
